* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(20, 22, 26);
}

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.heroContainer {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}